@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.row {
    margin: 0;
}

@media (max-width: 540px) {
  h1 {
    font-size: 0.5em;
  }
  }

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #eac784;
    font-size: 1.1em;
}

h2 {
   font-family: 'Ubuntu', sans-serif;
   color: #eac784;
   font-size: 0.9em;
   font-style: italic;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: 	#fffcfc;
  font-size: 2em;
  background: #0b421a;
}

#logo {
  width: 80px;
  height: 80px;
  animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }


.coffee {
  font-family: 'Raleway', sans-serif;
  height: 280px;
  font-size: 1.4em;
  width: 300px;
}

.coffee img {
    border-radius: 10px;
    height: 250px;
    width: 250px;

}



h4 {
    font-size: 1.5em;
    color: #362415;
    font-weight: bold;
}
