@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.row {
    margin: 0;
}

@media (max-width: 540px) {
  h1
    font-size: 0.5em;
  }

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #eac784;
    font-size: 1em;
}

h2 {
   font-family: 'Ubuntu', sans-serif;
   color: #eac784;
   font-size: 0.7em;
   font-style: italic;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: 	#fffcfc;
  font-size: 2em;
  background: #0b421a;
}

#logo {
  width: 80px;
  height: 80px;

}
.coffee {
  background: #604c4c;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  height: 300px;
  font-size: 1.4em;
  margin: 5px auto;
  border: 3px solid #eac784;
  border-radius: 10px;
}

.coffee img {
    border-radius: 10px;
    height: 185px;
    width: 455px;
}
